<div>
    <hr>
<div class="formstyle">
        <form action="" style="justify-content: center;">
            <h2>Enter your quote</h2>
            <div class="form-group col-md-6">
                <label for="quote">Enter quote</label>
                <textarea class="form-control"
                name="quote" id="quote"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label for="author">Quote Author</label>
                 <input class="form-control" type="text" id="author">
        
            </div>
            <div class="form-group col-md-6">
                <label for="personSubmitting">Your Name</label>
                <input class="form-control" type="text" placeholder="Enter your name">
            </div>
            <button class="btn btn-dark" onclick="createNewQuote(quote)">Post your quote</button>
        </form>
</div>
    
</div>
